@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

$primary-color: #ff6060;
$very-light-color: #fff;
$light-color: #f6f6f6;
$overlay-color: rgba(0, 0, 0, 0.3);

$fontFam: "Montserrat", sans-serif;
