@use "_variables.scss" as vars;
@use "_mixins.scss" as mixin;

.appartment-card-link {
  width: 100%;
  .appartment-card-content {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    .appartment-card-image {
      @include mixin.sizeImage;
      object-fit: cover;
    }
    .card-overlay {
      @include mixin.sizeImage;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.6)
      );
    }
    .card-title {
      position: absolute;
      left: 20px;
      bottom: 15px;
      color: vars.$very-light-color;
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .appartment-card-content {
    .appartment-card-image {
      height: 340px;
    }
    .card-overlay {
      height: 340px;
    }
  }
}
