@use "./variables.scss" as vars;
@use "./mixins.scss" as mixin;

.appartment-collapses-container {
  margin: 13px 20px 20px;
  .collapse-container {
    .collapse-title {
      @include mixin.flexRowCenter;
      @include mixin.collapseTitle;
      background-color: vars.$primary-color;
      color: vars.$very-light-color;
      .collapse-btn {
        border: none;
        background-color: transparent;
        .arrow-back {
          @include mixin.collapseArrow;
        }
        .arrow-top {
          transition: transform 0.3s ease-out;
          transform: rotate(180deg);
        }
      }
    }
    .collapse-content {
      @include mixin.collapseContent;
      background-color: vars.$light-color;
      color: vars.$primary-color;
      &.collapse-visible {
        opacity: 1;
        transform: translateY(0);
        height: auto;
        margin-bottom: 15px;
      }
    }
  }
}

@media screen and (min-width: vars.$tablet) {
  .appartment-collapses-container {
    margin: 25px 60px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .collapse-container {
      width: 50%;
      &:not(:last-child) {
        margin-right: 15px;
      }
      .collapse-title {
        border-radius: 10px;
        font-size: 1.5rem;
      }
    }
    .collapse-content {
      font-size: 1.5rem;
      padding: 30px 20px;
    }
  }
}

@media screen and (min-width: vars.$desktop) {
  .appartment-collapses-container {
    .collapse-content {
      padding: 20px;
    }
  }
}

@media screen and (min-width: vars.$largeDesktop) {
  .appartment-collapses-container {
    .collapse-container {
      .collapse-title {
        font-size: 2rem;
      }
    }
  }
}
